{% extends 'base.html' %}
{% load widget_tweaks %}
{#https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html#}

{% block main_card_header_buttons %}
  <a href="{% url "loaders:loader_edit" %}" class="btn btn-primary btn-round">Add</a>

{% endblock %}

{% block main_content_card_body %}
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead class=" text-primary">
        <tr>
          <th>
            Name
          </th>
          <th>
            Alias Field
          </th>
        </tr>
        </thead>
        <tbody>

        {% for attribute in attributes %}
          <tr {% if attribute.pk == selected_attribute %}class="table-active"{% endif %}>
            <td><strong><a href="{% url "loaders:attribute_list" attribute.slug %}" >{{ attribute.name }}</a></strong></td>
            <td>{{ attribute.alias_field }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}