{#currently unused, may get picked up again if we move to ajax calls for the navigation#}
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">{{ main_content_card_title }}</h5>
        <p class="card-category">{{ main_content_card_subtitle }}</p>
      </div>
      <div class="card-body ">
{% block main_content_card_body %}{% endblock %}
      </div>
      <div class="card-footer ">
        <hr>
        <div>
          <p class="card-description">{{ main_content_card_footer }}</p>
        </div>
      </div>
    </div>
  </div>
</div>